.main {
    margin-top: 10px;
    min-width: 5%;
    max-width: 30%;
    font-size: 7px;
    background-color: rgb(241, 59, 59);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    position: absolute;
    top: 0;
}

.main:hover {
    background-color: rgba(255, 255, 255, 0);
    box-shadow:rgba(46, 115, 206, 0.139) 1px 4px 1px 1px;
    color:rgb(46, 115, 206);
    cursor: pointer;
}