.main {
    min-width: 100%;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/36/423/651/red-yellow-orange-light-wallpaper-preview.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .form .title {
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2px;
    padding-bottom: 20px;
}

.main .form {
    background-color: white;
    padding: 50px;
    padding-left: 95px;
    padding-right: 95px;
    width: 20%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.098) -2px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.main .form .Menu {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 914px) {
    .main {
        background-size: 250%;
    }
    .main .form {
        width: 40%;
        height: 70%;
    }
}

@media (max-width: 414px) {
    .main .form {
        width: 90%;
        height: 90%;
    }
}